<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GTF - Admin</title>
</head>

<body class="grey lighten-4">
    <nav class="teal darken-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo">SkyLitics</a>
                <a href="" class="sidenav-trigger show-on-large right" data-target="side-nav">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class=""><a href="index.html">Dashboard</a></li>
                    <li class="active"><a href="posts.html">Posts</a></li>
                    <li class=""><a href="categories.html">Categories</a></li>
                    <li class=""><a href="comments.html">Comments</a></li>
                    <li class=""><a href="users.html">Users</a></li>
                </ul>
                <!-- Side Nav -->
                <ul class="sidenav" id="side-nav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="img/ocean.jpg" alt="">
                            </div>
                            <a href="">
                                <img src="img/person1.jpg" alt="" class="circle">
                            </a>
                            <a href=""><span class="name white-text">John Doe</span></a>
                            <a href=""><span class="email white-text">admin@ex.com</span></a>
                        </div>
                    </li>
                    <li class=""><a href="index.html"><i class="material-icons">dashboard</i>Dashboard</a></li>
                    <li class=""><a href="posts.html">Posts</a></li>
                    <li class=""><a href="categories.html">Categories</a></li>
                    <li class=""><a href="comments.html">Comments</a></li>
                    <li class=""><a href="users.html">Users</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <a class="sub-header">Account Controls</a>
                    </li>
                    <li>
                        <a href="login.html" class="waves-effect">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>